<div class="side-bar-header">
  <% if user_signed_in? && current_user.id == 1 %>
    <div class="header-name">
    <%= current_user.name %>
    </div>
    <div class="create-room">
      <%= link_to "ルームを作成する",new_room_path, class:"btn btn-light" %>
    </div>
  <% else %>
    <div class="header-name">
      <%= current_user.name %>さん　こんにちは
    </div>
  <% end %>
</div>

<div class="rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <%= link_to room.room_name, room_messages_path(room), class:"btn btn-outline-dark" %>
      </div>
    </div>
  <% end %>
</div>