<div class="side-bar-header">
  <div class="header-name">
    <a href="#">保護者の名前</a>
  </div>
  <% if user_signed_in? && current_user.id == 1 %>
    <div class="create-room">
      <%= link_to "ルームを作成する",new_room_path, class:"btn btn-light" %>
    </div>
  <% end %>
</div>

<div class="rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <%= link_to room.room_name, room_messages_path(room), class:"btn btn-outline-dark" %>
      </div>
    </div>
  <% end %>
</div>