<form>
  <div class="room-form-group">
    <h1>＊新規連絡ルーム作成＊</h1>
    <%= form_with model: @room, local: true do |f| %>
    <div class="room-form-group">
      <label for="exampleFormControlInput1">ルーム名</label>
      <input type="email" class="room-form-control" id="exampleFormControlInput1" placeholder="連絡ルーム名を入力してください（子どもの名前）">
    </div>
    <div class="room-form-group">
      <label for="exampleFormControlSelect1">メンバー</label>
      <select class="room-form-control" id="exampleFormControlSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">ルームを作成</button>
    <% end %>
  </div>
</form>