/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";

* {
  box-sizing: border-box;
}

.card {
  height: 200px;
}

.sign-in {
  text-align: center;
}

.sign-up {
  text-align: center;
}

.edit {
  text-align: center;
}

.name-box {
  width: 300px;
  margin-bottom: 10px;
}

.email-box {
  width: 300px;
  margin-bottom: 10px;
}

.password-box {
  width: 300px;
  margin-bottom: 15px;
}

.sign-btn {
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  background-color: lightblue;
  border: 1px solid lightblue;
}

.form__wrapper {
  text-align: center;
}

.form__text {
  margin: 10px;
  width: 50%;
  height: 60%;
}

.form__image {
  margin: 10px;
}

.label__title {
  margin-top: 10px;
  margin-bottom: 1px;
}

ul {
  list-style: none;
}

.alert-warning {
  padding-right: 60px;
}

.main {
  text-align: center;
}

.activity_image {
  margin: 0 auto;
}

.content_title {
  font-size: 30px;
  margin: 20px 0;
}

.content_detail {
  margin: 0 auto;
  font-size: 20px;
  word-break: break-word;
  width: 400px;
}

.contact_title {
  font-size: 25px;
  margin: 20px 0;
}

.contact_detail {
  margin: 0 auto;
  font-size: 20px;
  word-break: break-word;
  width: 400px;
}

