/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";



* {
  box-sizing: border-box;
}

/* トップページ */
.card {
  height: 200px;
}


/* ユーザー登録 */
.sign-in {
  text-align: center;
}

.sign-up {
  text-align: center;
}

.edit {
  text-align: center;
}

.name-box {
  width: 300px;
  margin-bottom: 10px;
}

.email-box {
  width: 300px;
  margin-bottom: 10px;
}

.password-box {
  width: 300px;
  margin-bottom: 15px;
}

.sign-btn {
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  background-color: lightblue;
  border: 1px solid lightblue;
}

/* 活動内容 */
.form__wrapper {
  text-align: center;
}

.form__text {
  margin: 10px;
  width: 50%;
  height: 60%;
}

.form__image {
  margin: 10px;
}

.label__title {
  margin-top: 10px;
  margin-bottom: 1px;
}

ul {
  list-style: none;
}

.alert-warning {
  padding-right: 60px;
}

.main {
  text-align: center;
}

.activity_image {
  margin: 0 auto;
}

.content_title {
  font-size: 30px;
  margin: 20px 0;
}

.content_detail {
  margin: 0 auto;
  font-size: 20px;
  word-break: break-word;
  width: 400px;
}

.contact_title {
  font-size: 25px;
  margin: 20px 0;
}

.contact_detail {
  margin: 0 auto;
  font-size: 20px;
  word-break: break-word;
  width: 400px;
}

/* 連絡ルーム */
.wrapper {
  display: flex;
}

.side-bar {
  background-color:#FFEEFF;
  width: 300px;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a{
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.create-room a{
  font-size: 10px;
  border: solid 1px #AAAAAA;
}

.rooms {
  background-color: #FFDDFF;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0;
}

.room-name a {
  font-size: 20px;
  color: #555555;
  background-color: #FFEEFF;
  border: solid 1px #DDDDDD;
  margin-left: 75px;
}

.chat {
  background-color:#FFFFEE;
  width: calc(100vw - 300px);
}

.chat-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  color: #333;
  font-size: 24px;
}

.header-button a {
  font-size: 15px;
}

.messages {
  background-color: #FFFFDD;
  height: calc(100vh - 100px - 90px);
  padding: 40px 40px 0;
  overflow: scroll;
}

.message {
  margin: 10px 0 30px;
  border: ridge 3px white;
  padding-left: 5px;
}

.upper-message {
  display: flex;
}

.message-user {
  color: #BBBBBB;
  font-size: 16px;
}

.message-date {
  color: #CCCCCC;
  font-size: 12px;
  padding-left: 10px;
}

.message-heat {
  color: #444444;
  font-size: 12px;
  padding-left: 10px;
}

.message-condition {
  color: #444444;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.form {
  background-color:#EEEEEE;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  display: flex;
  width: 100%;
}

#content {
  border: solid 1px #333333;
  width: 75%;
  padding-top: 13px;
}

.btn-outline-dark {
  height: 50px;
  padding-top: 13px;
}

.hidden {
  display: none;
}


/* 連絡ルーム作成ページ */
.room-form-group {
  text-align: center;
}

.room-form-control {
  width: 70%;
  height: 60px;
  margin: 20px;
}

.room-form-control-select {
  width: 70%;
  height: 60px;
  margin: 20px;
}